<div class="col-md-12">
	
	<table class="table table-striped">
		<tr>
			<th>
				maat
			</th>
			<th>
				eenheid
			</th>
			<th>
				ingredient
			</th>
		</tr>
		<tr>
			<td>
				<div class="form-group">
				    <input type="text" class="form-control" name="name" ng-model="ingredient.unit">
				</div>
			</td>
			<td>
				<div class="form-group">
				    <input type="text" class="form-control" name="name" ng-model="ingredient.amount">
				</div>
			</td>
			<td>
			    <select-autocomplete fetch-result="fetchIngredientsByQuery(query)" />
			</td>
		</tr>
	</table>
</div>
