<div class="col-md-12">
    <div class="col-md-6">
        <h1>ingredienten</h1>
        <div ng-repeat="ingredient in ingredients">
            {{ingredient.amount}} x {{ingredient.ingredient.name}}
        </div>
    </div>
    <div class="col-md-6">
        <h1>recepten</h1>
        <div ng-repeat="recipe in list.recepten track by $index">
            {{recipe}}
        </div>
    </div>
    <div ng-hide="getById">
        <a ng-click="addNewList(list)">save list</a>
    </div>
    <div ng-show="getById">
        <a ui-sref="boodschappen.shopping({id:list._id})">got to shopping list</a>
    </div>
</div>
