.recipe-carousel {
  width: 100%;
  min-height: 200px;
  background-color: #ccc;

}
.best-recipes {
  width: 100%;
  min-height: 100px;
  background-color: #ccc;
}
.recipe-categories{
  width: 100%;
  min-height: 200px;
  background-color: #ccc;
}
