
<div ui-view></div>
<div class="col-md-12">
<a ui-sref="ingredienten.add">add</a>
	<table class="table table-striped">
	<tr>
		<th>
			name
		</th>
		<th>
			info
		</th>
		<th>
			locatie groep
		</th>
		<th>
			prijs
		</th>
		<th>
			aan/uit
		</th>
		<th>
			edit
		</th>
		<th>
			remove
		</th>
	</tr>
	<tr ng-repeat="ingredient in ingredients">
		<td>
			{{ingredient.name}}
		</td>
		<td>
			{{ingredient.info}}
		</td>
		<td>
			{{ingredient.locationGroup}}
		</td>
		<td>
			{{ingredient.price}}
		</td>
		<td>
			{{ingredient.active}}
		</td>
		<td>
			edit
		</td>
		<th>
			<button ng-click="deleteIngredient(ingredient)">delete</button>
		</th>
	</tr>
	</table>
</div>