.recipe-list {
  .recipe {
    height: 200px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    position: relative;
  }
  .control {
    position: absolute;
    right: 16px;
    bottom: 6px;
  }
}
.recipe-ui-view {
  background-color: white;
  position: fixed;
  top: 0;
  display: none;
  z-index: 1001; //above navbar
  &.ng-enter, &.ng-leave {
    transition:all .5s ease-in-out;
  }
  &.ng-enter {
    margin-left: -60%;
  }
  &.ng-enter-active {
    margin-left: 0%;
  }
  &.leave {
    margin-left: 0%;
  }
  &.ng-leave-active {
    margin-left: -60%;
  }
  &.active {
    display: block;
  }
}
