<div class="col-md-12 recipe-list">
  <div class="row">
    <div class="col-md-4" ng-repeat="recipe in recipes">
      <div class="recipe">
        <div class="image"></div>
        <div class="name">
          <a ui-sref="recepten.view({id: recipe._id})" >{{ recipe.name }}</a>
        </div>
        <div class="rating"></div>
        <div class="control">
          <a ng-click="addToNewGroceryList(recipe)"><i class="fa fa-plus"></i> <i class="fa fa-th-list"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-view></div>
<a ui-sref="addRecipe.basic">add</a>
