<div class="col-md-12">
This is the boodschappen.shopping view.


    <div>
        <ul>
            <li data-ng-repeat="ingredient in doneArray">
                {{ingredient.name}}<button ng-click="removeIngredient(ingredient)">remove</button>
            </li>
        </ul>
        {{doneArray}}
    </div>

    <div>
        <li data-ng-repeat="ingredient in neededArray">
            {{ingredient.amount}} x {{ingredient.ingredient.name}} <button ng-click="addIngredient(ingredient.ingredient)">add</button>
        </li>
    </div>

</div>
